mixin userPreview(name, avatar, messagePreview, messageTime, messageCounter)
    .user-preview
        .user-preview__first-wrapper
            img(src=imgSrc).user-preview__image
        .user-preview__second-wrapper
            span.user-preview__title=name
            p.user-preview__message=messagePreview
        .user-preview__third-wrapper
            time.user-preview__time=messageTime
            .user-preview__counter-wrapper
                span.user-preview__counter=messageCounter
