mixin input(inputType, inputId, inputName, inputPlaceholder, inputValue, inputDisabled)
    input(type=inputType id=inputId name=inputName placeholder=inputPlaceholder value=inputValue disabled=inputDisabled)&attributes(attributes).input
    